# PostgreSQL
POSTGRES_DB="blog_api_database_for_test"
POSTGRES_USER="app"
POSTGRES_PASSWORD="123qwe"
POSTGRES_HOST="blog_api_db_for_test"
POSTGRES_PORT=5432

# Database Engine Settings
DB_ECHO="False"